body {
    background-color:#343838; /*the gray */
    color: #fffff0; /*ivory*/
    padding: 15px;
    margin-left: 15px;
} 

a {
    color: #00B4CC; /*light teal*/
}



h1, h2 {
    background-color: #062529; /*medium teal */
    border: 7.5px solid #042227; /*dark teal*/
    margin-top: 5px;
    margin-bottom: 5px; 
    

}

h1 {
    font-size:7em;
}

h2 {
    font-size: 3em;
}

p, ul, dl  {
    background-color: #062529;
    border: 7.5px solid #042227;
}



img {
    margin-top: 3px;
    margin-bottom: 3px;
}

strong {
    color: #c1c1b1;
    font-size: 101%;
}

nav {
    margin-top: 5px;
    margin-bottom: 30px;
    border: 5px solid #ececbd;
    background-color: #FFFFF0;
    padding: 10px; 
}

nav a {
    color: #2f1b1b;
    text-decoration: none; 
}

nav a:hover  {
    background-color: #f9a9a9;
}

nav a:visited {
    color: #4c2020;
}

.skip a:visited {color: #4c2020;}
.skip a:hover {background-color: #f9a9a9;}
.skip a {
    color: #2f1b1b; 
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    nav a {
        max-width: 100%;
        display: block;
        padding: 10px;
    }
    span {
        display: none;
    }
}