body {
    background-color:#343838; /*the gray */
    color: #FFFFF0; /*ivory*/
} 
a {
    color: #00B4CC; /*light teal*/
}
h1, h2 {
    background-color: #005F6B; /*dark teal */
}


/*
#008C9E

#00DFFC
#343838
#005F6B
#008C9E */